html {
	background-color: #553388;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	color: #ffffff;
}


h2 {
	margin: 0;
	margin-bottom: 1em;
	text-align: center;
}


.part-header {
	max-width: 400px;
	margin: 0 auto 1em;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.5);
}
h1 {
	margin: 0;
	text-align: center;
	font-family: "Text Me One", sans-serif;
	font-weight: normal;
	font-size: 4em;
}
.tlds {
	width: 100%;
}
.tlds td {
	text-align: center;
}

pre {
	overflow-x: auto;
}


.part-install {
	max-width: 400px;
	margin: 0 auto 1em;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.5);
}


.part-register {
	max-width: 400px;
	margin: 0 auto 1em;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.5);
}
.domain-input {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}
.domain-input input {
	flex: 1 1 0;
	margin-right: 0.5em;
}


.part-support {
	max-width: 400px;
	margin: 0 auto 1em;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.5);
}


.part-registered {
	margin-top: 4em;
}
.part-registered h2 {
	margin-bottom: 0.5em;
}
.part-registered select {
	display: block;
	margin: 0 auto 1em;
}
.domain {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2px;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.5);
}
.domain > * {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.block {
	display: inline-block;
	margin-right: 8px;
	cursor: default;
}
.block-change {
	opacity: 0.3;
	cursor: pointer;
}
.name {
	flex: 0 0 200px;
	text-align: right;
	padding-right: 1em;
}
.address {
	flex: 0 0 400px;
}
.owner, .status {
	flex: 0 0 200px;
}
.status-bad {
	color: #ff8080;
}


a[href] {
	color: #aaaaff;
}


@font-face {
	font-family: "Text Me One";
	src: url(../fonts/TextMeOne-Regular.ttf) format("truetype");
}